<!-- wp:template-part {"slug":"header","theme":"tibet"} /-->

<!-- wp:group {"className":"error-404 not-found","layout":{"type":"constrained"}} -->
<div class="wp-block-group error-404 not-found"><!-- wp:heading {"textAlign":"center","level":1} -->
    <h1 class="wp-block-heading has-text-align-center">Page Not Found</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">It looks like nothing was found at this location.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search...","buttonText":"Search"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"tibet"} /-->