<!-- wp:template-part {"slug":"header","theme":"tibet"} /-->

<!-- wp:group {"className":"archive","layout":{"type":"constrained"}} -->
<div class="wp-block-group archive"><!-- wp:query-title {"type":"archive","align":"center"} /-->

    <!-- wp:query {"queryId":1,"query":{"perPage":3,"inherit":false,"postType":"post","parents":[],"offset":0}} -->
    <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default"}} -->
    <!-- wp:post-title /-->
    
    <!-- wp:post-featured-image /-->
    
    <!-- wp:post-excerpt /-->
    
    <!-- wp:post-date /-->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"right"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"tibet"} /-->