<!-- wp:template-part {"slug":"header","theme":"tibet"} /-->

<!-- wp:group {"className":"search-results","layout":{"type":"constrained"}} -->
<div class="wp-block-group search-results"><!-- wp:query-title {"type":"search","align":"center"} /-->

    <!-- wp:query {"queryId":3,"query":{"perPage":10,"inherit":true}} -->
    <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default"}} -->
    <!-- wp:template-part {"slug":"content-search","theme":"tibet"} /-->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-numbers /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query --></div>
    <!-- /wp:group -->    